<?php

	global $ffmpeg;
	global $matroid_client_id;
	global $matroid_client_secret;
	global $matroid_access_token;
	$ffmpeg = "";
	$matroid_client_id = "";
	$matroid_client_secret = "";
	$matroid_access_token = "";

?>